@import "src/styles/colors";

.appShell {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  .child {
    display: flex;
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .header {
    height: 50px;
    border-bottom: 1px solid $border-color;
    flex-direction: row-reverse;
  }

  .footer {
    border-top: 1px solid $border-color;
  }

  .sidebar {
    border-right: 1px solid $border-color;
    align-items: start;
  }

  .content {
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    padding: 10px;
  }
}
