@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'formiojs/dist/formio.full.min.css';
@import 'font-awesome/css/font-awesome.min.css';
#root {
  text-align: left;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  position: relative;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
[ref='sidebar-container'] > .btn {
  width: 100%;
}
.builder-component.essential-item {
  border: 2px dashed #dadada;
  padding: 32px;
}
.builder-component.essential-item:before {
  content: 'Essential';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: #e3e9f3;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3px 12px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  color: #5d5d5d;
}
.widget-action-btn {
  display: none;
}
.btn-move {
  padding: 12px;
}
.ag-component-selected {
  border: 3px solid #aa2525;
}
.card {
  padding: 0;
}
